:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #292929; 
    --white-color: #e7e7e7;
}

body {
    color: var(--dark-color); 
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

footer {
    padding-right: 1rem;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--secondary-color);
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}



main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bsicon {
    color: #7711F7;
}

.jsicon {
    color: #F0DB4F;
}

.html5icon {
    color: #F06529;
}

.css3icon {
    color: #17A1DF;
}

.checklist> li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}